@{
    ViewData["Title"] = "Регистрация";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model List<testingSite.Models.Group>
<div id="registerFormContainer">
    @Html.Partial("_RegisterForm", Model)
</div>