@{
    ViewData["Title"] = "Регистрация";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<h2>Регистрация пользователя</h2>
<form asp-action="Register" method="post">
    <div>
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <label for="role">Роль:</label>
        <select id="role" name="role" class="form-control">
            <option value="admin">Admin</option>
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
        </select>
    </div>
    <button type="submit">Создать пользователя</button>
</form>
@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}