<footer class="border-top pt-3 text-center text-muted shadow-sm mt-4 rounded" id="footWrapper">
        <div class="footer-top" >
			<div class="container">
				<p class="lg-txt f-left">
					ФГБОУ ВО «Армавирский государственный педагогический университет».
				</p>					
			</div>
		</div>     
		<div class="footer-middle">
			<div class="container">
			    <div class="row">					  	
					<div class="col-md-4 first">
						<h3>СОЦИАЛЬНЫЕ СЕТИ</h3>
                        <p class="foot-about-par">
                            Официальные страницы Армавирского государственного педагогического университета
                        </p>
			            <div class="social-list half-icons">
							<a href="https://vk.com/agpu_official" target="_blank"><i class="fa fa-vk ic-vk ic-colored sm-icon"></i><span>ВКонтакте</span></a>
                            <a href="https://t.me/agpu_official" target="_blank"><i class="fa fa-paper-plane ic-vk ic-colored sm-icon"></i><span>Telegram</span></a>
						</div>
                    </div>                					  
                    <div class="col-md-4 last contact-widget">
                        <h3>Контакты</h3>
                            <p class="foot-about-par">
                                Понедельник-пятница с 8.00 до 17.00, суббота – с 8.00 до 13.00. 
                            </p>
                        <ul class="details">
                            <li><i class="fa fa-map-marker"></i><span>352901, Южный федеральный округ, Краснодарский край, город Армавир, улица Розы Люксембург, д.159.</span></li>
                            <li><i class="fa fa-envelope"></i><span>rektoragpu@mail.ru</span></li>
                            <li><i class="fa fa-phone"></i><span><a href="tel:+78613733560">8 (86137) 3 35 60</a></span></li>
                        </ul>
                    </div>
                </div>							  							  							  							  
		    </div>
        </div>
		<div class="footer-bottom">
			<div class="container">				
				<div class="copyrights">© <b class="main-color">ФГБОУ ВО АГПУ</b> 2023. Все права защищены.</div>
			</div>
		</div>
	</footer>