<ul class="menu">
    WIP (Work In Progress)
    <li><a class="nav-link" href="/Admin/Register">Регистрация новых пользователей WIP (Work In Progress)</a></li>
    <li><a class="nav-link" href="/Teacher/Tests">WIP (Work In Progress)</a></li>
    <li><a class="nav-link" href="/Teacher/Progress">WIP (Work In Progress)</a></li>
</ul>