<ul class="menu">
    <li><a class="nav-link" href="/Teacher/Lectures">Лекции</a></li>
    <li><a class="nav-link" href="/Teacher/Tests">Тесты</a></li>
    <li><a class="nav-link" href="/Teacher/Progress">Прогресс студентов</a></li>
    <li>
        Назначения
        <ul class="submenu">
            <li><a class="nav-link" href="/Teacher/LecturesAssignments">Лекции</a></li>
            <li><a class="nav-link" href="/Teacher/TestsAssignments">Тесты</a></li>
        </ul>
    </li>
</ul>
