<ul class="menu">
    <li><a class="nav-link" href="/Student/Lectures">Мои лекции</a></li>
    <li><a class="nav-link" href="/Student/Tests">Мои тесты</a></li>
    <li><a class="nav-link" href="/Student/Progress">Мои результаты</a></li>
</ul>
