@* @{
    ViewData["Title"] = "Создание теста";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
} *@
<div class="container">
    <div class="top-bar">
        <button class="add-button">Добавить вопрос</button>
    </div>
    <table>
        <thead>
            <tr>
                <th style="width: 500px;">Вопрос</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Что такое HTML?</td>
                <td class="actions">
                    <button class="edit-btn">Редактировать</button>
                    <button class="delete-btn">Удалить</button>
                </td>
            </tr>
            <tr>
                <td>Как работает CSS?</td>
                <td class="actions">
                    <button class="edit-btn">Редактировать</button>
                    <button class="delete-btn">Удалить</button>
                </td>
        </tbody>
    </table>
</div>