<div class="mt-2"style="width: 100%">
    <div class="p-5" style="width: 100%">
        <form id="OverlayForm">
            <input type="hidden" name="categoryId" /> 
            <input type="hidden" name="categoryName" /> 
            <div class="mb-3">
                <label for="name">Название теста:</label>
                <input type="text" class="form-control" id="name" name="name" required />
            </div>
            <div class="mb-3">
                <label for="description">Описание теста:</label>
                <textarea id="description" name="description" class="form-control" rows="4"  maxlength="512"></textarea>
            </div>
        </form>
    </div>
</div>

