@* @{
    var testId = (int)(ViewBag.TestId ?? 0);
} *@
@model Question
<div class="container mt-2" style="width: 100%">
    <div class="p-1 rounded" style="width: 100%">
        <form id="questionOverlayForm">
            @* <input type="hidden" name="testId" value="@testId" /> *@
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="mb-3">
                <label for="questionText" class="form-label">Текст вопроса</label>
                <textarea id="questionText" name="questionText" class="form-control" rows="4" maxlength="1024" required>@Model.QuestionText</textarea>
            </div>
        </form>
    </div>
</div>

