@{
    ViewData["Title"] = "Тесты";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model List<testingSite.Models.TestCategory>
<h3>Тесты</h3>
<div class="border shadow-sm p-3 mb-4">
    <div class="top-bar">
        <button type="button" class="add-button" id="addTestCategoryBtn">Добавить категорию теста</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Тесты</th>
                <th>Дисциплина</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody id="testTableBody">
            @Html.Partial("_TestTableBody", Model)
        </tbody>
    </table>
</div>
